<%- include header%>

  <section class="login">
    <span class="login-info">info</span>

    <span class="login-box">
      <form method="post">
         登录名称: <input type="text" name="name"/><br/>
         登录密码: <input type="password" name="password"/><br/>
         <input type="submit" value="登录尝试"/>
      </form>
    </span>
  </section>
<%- include footer%>