<%- include header %>
  <form method="post">
     登錄名稱: <input type="text" name="name"/><br/>
     登錄密碼: <input type="password" name="password"/><br/>
     <input type="submit" value="嘗試登錄"/>
  </form>
<%- include footer %>