<%- include header%>
    <section class="reg">
      <span class="reg-info">info</span>
      <span class="reg-box">
        <form method="post">
          用户名称 : <input type="text" id="reg-name" name="name"/><br/>
          设置密码 : <input type="password" id="reg-psw"  name="password"/><br/>
          重复密码 : <input type="password" id="re-reg-psw" name="re-password"/><br/>
          你的性别 :
          <select name="sex">
            <option value="male">男生</option>
            <option value="female">女生</option>
          </select>
          <br/>
          <!-- ajax 数据处理 -->
          学院系别 : <input type="text" id="reg-fac"  name="faculty"/><br/>
          <!-- option 选项 -->
          大学年级 :
          <select name="grade">
            <option value="大一">大一</option>
            <option value="大二">大二</option>
            <option value="大三">大三</option>
            <option value="大四">大四</option>
          </select><br/>
          <input type="hidden" name="header" value="header.jpg"><br/>
          <input type="hidden" name="bg" value="bg.jpg"><br/>
          <input type="hidden" name ="motto" value="你好吗？在努力吗？有微笑吗？">
          <input type="submit" class="btn" value="注册"/>
       </form>
      </span>
    </section>

<%- include footer%>