<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<title>杭电书城</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="container">

		<header class="header">
			<span class="logo">
				<img src="images/logo.jpg" alt="logo"/>
			</span>
			<span class="sign">
				<a href="/reg">注册</a>
				<a href="/login">登录</a>
			</span>
		</header>


		<section class="body">
			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>
			</div>

			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>
			</div>

			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>
			</div>

			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>
			</div>


			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>
			</div>


			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>
			</div>


			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>

			</div>


			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>
			</div>


			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>
			</div>


			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>
			</div>


			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>
			</div>


			<div class="book">
				<div class="book-img">
					<a href="#">
						<img src="images/book.jpg" alt="book">
					</a>
				</div>
				<div class="book-user">
					卖家: <a href="#">thames</a>
				</div>
				<div class="book-price">
					价格:20$
				</div>
				<div class="upload-time">
					2015-13-12
				</div>
			</div>


		<div class="page">
				<span class="prve">
					<a href="#">上一页</a>
				</span>
				<span class="next">
					<a href="">下一页</a>
				</span>
		</div>
		</section>
		<footer class="footer">
			<span class="copyinfo">
				版权所有:杭州电子科技大学  betahouse工作室
			</span>
		</footer>
	</div>
</body>
</html>