 <%  include header%>
 <form action="/updatepassword/<%= user.name%>" method="post" >
    請輸入原來的密碼:
    <input type="password" name="oldpassword"/><br/>    請輸入新的密碼:
    <input type="password" name="newpassword"/><br/>    請再次輸入新的的密碼:
    <input type="password" name="re-password"/><br/>
 <input type="submit" value="保存">
    </form>

 <%  include footer%>
