<%- include header%>


    <section class="upload">
      <span class="up-info">info</span>

      <span class="up-box">
        <form action="/updatepassword/<%= user.name%>" method="post" >
          请输入原来密码:
          <input type="password" name="oldpassword"/><br/>    请输入新的密码:
          <input type="password" name="newpassword"/><br/>    请再次输入新的密码:
          <input type="password" name="re-password"/><br/>
          <input class="btn" type="submit" value="保存">
        </form>
      </span>
    </section>

<%- include footer%>