<%- include header %>
  <form method="post">
    書的名字:<input type="text" name="bookname"/><br/>
    書的價格:<input type="text" name="bookprice"/><br/>
    你是在什麼年級使用了這本書:<br/>
    <input type="text" name="usetime"><br/>
    你有什麼話要對想買這本書的人說:<br/>
    <input type="text" name="usersay"><br/>
    <input type="submit" value="上傳信息"/>
  </form>
<%- include footer %>